.results{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   max-width: 100%;
   background-color:red;
   height: auto;

}

.gif{
   height: 150px;
   color: white;
   margin: 1.5px;
   flex: 1 0 auto;
   max-width: 100%;
}
